body{
	background-image: url('../img/bg3.jpg');
	background-size: cover;
}
*{
	margin: 0px;
	padding: 0px;
}
.all{
	width: 100%;
	min-height: 700px;
	border: 0px solid;
}
.header{
	width: 100%;
	height: 60px;
	background-color: #D71149;
}
.menu-header-1{
	float: right;
	height: 60px;
	width: 35%;
	border-left: 0px solid;
	text-align: right; 
}
.menu-header-1 .a{
	border-left: 1px solid;
	width: 44%;
	float: right;
	height: 60px;
	margin-right: 26px;
}
.menu-header-1 .a ul li{
	display: inline-block;
	position: relative;
	margin-top: 20px;
	margin-right: 3px;
}
.menu-header-1 .a ul li a{
	color: white;
	text-decoration: none;
	border: 1px solid;
	border-radius: 2px;

	padding: 2px 17px 2px 17px;
	transition: 0.5s ease;
}
.menu-header-1 .a ul li a:hover{
	background-color: white;
	color: black;
}
.menu-header-1 .a ul li a.active{
	background-color: white;
	color: black;
	border: none;
}
.menu-header-1 .b{
	border-left: 1px solid;
	width: 14%;
	float: right;
	height: 60px;
	text-align: center;
}
.menu-header-1 .c{
	margin-top: 20px;
	width: 34%;
	float: right;
	height: 60px;
	text-align: center;
}
.menu-header-1 .c a{
	text-decoration: none;
	color: white;
	font-size: 13px;
}
.menu-header-2{
	float: right;
	height: 60px;
	width: 40%;
	text-align: center;
}
.menu-header-2 input[type="text"]{
	height: 36px;
	width: 40%;
	float: left;
	margin-top: 8px;
	padding-left: 45px;
	background-image: url("search.png");
	background-repeat: no-repeat;
	border: none;
}
.header-2{
	width: 100%;
	height: 43px;
	background-color: #C30F42;
}
.header-2 .menu-header-2{
	width: 35%;
	height: 43%;
}
.menu-header-2 ul li{
	display: inline-block;
	position: relative;list-style-type: none;
	margin-right: 12px;
	margin-top: 12px;
}
.menu-header-2 ul li a{
	font-size: 13px;
	text-decoration: none;
	color: white;
}
.menu-header-2 ul li a:hover{
	border-bottom: 1px solid;
}
.menu-header-2 ul li a.gabung{
	font-size: bold;
	color: orange;
	margin-right: 33px;
}
.menu-header-2 ul li a.gabung:hover{
	border-bottom: 1px solid orange;
}
.header-2 .menu-header-2a{
	margin-left: 4%;
	width: 54%;
	height: 43px;
}
.menu-header-2a ul li{
	display: inline-block;
	position: relative;
	list-style-type: none;
	margin-right: 10px;
	margin-top: 12px;
}
.menu-header-2a ul li a{
	font-size: 13px;
	text-decoration: none;
	color: white;
}
.menu-header-2a ul li a:hover{
	border-bottom: 1px solid;
}
.menu-finansial{
	width: 95%;
	margin-top: 20px;
	height: 40px;
	border: 0px solid;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.menu-finansial-1{
	width: 94%;
	height: 40px;
	margin: auto;
}
.menu-finansial-1 ul li.menu-finansial-1-menu{
	display: inline-block;
	position: relative;
	list-style-type: none;
	margin-top: 9px;
	margin-right: 36px;
}
.menu-finansial-1 ul li.menu-finansial-1-menu a{
	padding-bottom: 9px;
}
.menu-finansial-1 ul li{
	display: inline-block;
	position: relative;
	list-style-type: none;
	margin-top: 9px;

	padding: 0px 3px 9px 3px;
}
.menu-finansial-1 ul li a{
	text-decoration: none;
	font-size: 18px;
	color: gray;
}
.menu-finansial-1 ul li.menu-finansial-1-menu a:hover,
.menu-finansial-1 ul li a:hover{
	color: black;
}
.menu-finansial-1 ul li.menu-finansial-1-menu a.on{
	border-bottom: 4px solid #D71149;
	color: black;
}
.slide figure div{
	width: 20%;
	float: left;

}
.slide figure img{
	width: 50%;
	float: left;
}
.slide figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: auto;
	margin-left: 30%;
	margin-top: 100px;
	animation: 20s slidy infinite; 
}
@keyframes slidy{
	0%{left: 0%;}
	10%{left: -100%;}
	20%{left: -100%;}
	30%{left: 0%;}
	40%{left: -200%;}
	50%{left: -200%;}
	60%{left: -100%;}
	70%{left: -100%;}
	80%{left: -200%;}
	90%{left: -200%;}
	100%{left: 0%;}
}